---
interface Props {
  href: string;
  text: string;
  isHighlighted?: boolean;
}

const { href, text, isHighlighted = false } = Astro.props;
---

{
  isHighlighted ? (
    <a
      href={href}
      class="bg-secondary/90 hover:bg-secondary text-primary  px-5 py-2 rounded-full transition-all shadow-md hover:shadow-lg border border-white/20"
    >
      {text}
    </a>
  ) : (
    <a
      href={href}
      class="text-white hover:text-secondary px-3 py-2 rounded-full transition-colors"
    >
      {text}
    </a>
  )
}
